<h1>this is the secretpage!</h1>

<p>FOUND ME !</p>

<img src="https://images.unsplash.com/photo-1593727591555-5cc0ec5b032d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=582&q=80">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>