<%- include("partials/header") %>
<div class="container">
    <div class="container w-50 mt-5 p-3 border border-dark rounded bg-light">
        <h1>Add New Awesome Animal</h1>
        <form action="/animals" method="POST">
            <div class="form-group">
                <label for="animal[title]">Animal</label>
                <input class="form-control border border-dark bg-transparent text-dark" type="text" name="animal[title]" placeholder="animal">
            </div>
            <div class="form-group">
                <label for="animal[image]">Image</label>
                <input class="form-control border border-dark bg-transparent text-dark" type="text" name="animal[image]" placeholder="image">
            </div>
            <div class="form-group">
                <label for="animal[body]">Description</label>
                <textarea class="form-control border border-dark bg-transparent text-dark" name="animal[body]" cols="30" rows="7"></textarea>
            </div>
            <input class="btn btn-lg btn-outline-dark" type="submit">
        </form>
    </div>
</div>

<%- include("partials/footer") %>